#title{
    background-color: #ff4c68;
   color: white;
}
.iphone:hover{
    transform: rotate(0deg);
}
.iphone{
    width: 95%;
    transform: rotate(25deg);
    transition: 2000ms;
}
#far{
    size: 5rem;
}
.icon:hover{
    color: #ff4c68;
}
.icon{
    color: #ef8172;
    transition: 1000ms;
    padding: 5% 5%;
}
p{
    color: #8f8f8f;
    font-family: 'Ubuntu';
}
.container-fluid{
    padding: 3% 10%;
}
.download-button{
   margin: 5% 3% 5% 0;
}
#features{
    padding: 7% 15%; 
}

#slogan{
    padding-top: 10%;
    padding-left: 3%;
}
.feature-box{
   text-align: center;
   padding: 5%;
}

h3{
    font-family: 'Montserrat';
    font-weight: bolder;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    padding-bottom: 10%;
    
}
#label-tindog{
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
} 
.nav-item{
    padding: 0 20px;
}
.nav-link{
    font-family: 'Ubuntu';
    font-size: 1.5rem;
}