body{
	background: black;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.home{
    background: url(assets/images/header-bg.jpg) no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.bbheader{
    background: url(assets/images/sc_header.jpg) no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.overlay-img {
    background: rgba(0, 0, 0, .55);
    width: 100%;
    overflow:hidden;
}

.home-content{
    margin:180px 0;
    color:#fff;
    text-transform:uppercase;
    width:75%;
}
.home-content h5{
    font-weight:900px;
    font-size:24px;
}

.home-content h1{
    font-size:65px;
    font-weight:400;
}
.home-content h1 span{
    font-weight:600;
    color:#7b6c63;
}

.sections.footer {
    padding-bottom:20px;
}

/*Footer Area*/
#footer p{
    font-size:13px;
    color:#929292;
}
#footer h4{
    color:#c2c2c2;
    font-size:17px;
    text-transform:uppercase;
    font-weight:500;
}
#footer .footer-first-content .logo{
    margin-bottom:20px;
}
.footer-mid-content .post{
    border-bottom:1px solid #404040;
    margin-bottom:30px;
}
.footer-mid-content .post h6{
    margin-bottom:3px;
}
.footer-mid-content .post-item{
    margin-bottom:20px;
}

.footer-mid-content .post a{
    font-size:13px;
    color:#929292;
    transition:.5s;
}
.footer-mid-content .post a:hover{
    color:red;
}
.footer-last-content .contact-info{
    padding-top:10px;
}
.footer-last-content .contact-info p{
    margin-bottom:3px;
}
.footer-last-content .contact-info p i{
    font-size:13px;
    margin-right:10px;
}
.copyright-footer{
    background:#0d0d0d;
    padding:20px 0;
}
.copyright-footer .copyright p{
    color:#595959;
    font-size:16px;
    font-weight:500;
}

.jumbotron {
	background: white;
	margin-top: 100px;
	color: white;
	text-align: center;
}
.jumbotron p {
	color: white;
	font-size: 26px;
}
.navbar-default {
    background-color:#303030;
    border-color:0;
    height:95px;
    padding-top:15px;
}

.navbar {

    min-height: 50px;
    margin-bottom:0;
    border: 1px solid transparent;
    border-radius:0;
}

.navbar-default .navbar-nav>li>a {
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#7b6c63;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color:transparent;
    border-bottom:3px solid #7b6c63;
    color:#fff;
}

#showtime_container{
	margin-top: 50px;
	padding: 40px;
	background: white;

}

.time-select .time-select__place{font-size:13px;margin:25px 5px 18px}
.time-select .time-select__item{background-color:#ffd564;cursor:pointer;display:inline-block;font-size:12px;margin:5px 10px 5px 0;padding:8px;position:relative;z-index:10}
.time-select .time-select__item:hover{background-color:#fe505a}
.time-select .time-select__item:before{border:1px solid #fff;content:"";height:28px;left:3px;position:absolute;top:3px;width:67px}
.time-select .time-select__item{background-color:#ffd564;cursor:pointer;display:inline-block;font-size:12px;margin:5px 10px 5px 0;padding:8px;position:relative;z-index:10}.time-select .time-select__item:hover{background-color:#fe505a}.time-select .time-select__item:before{border:1px solid #fff;content:"";height:28px;left:3px;position:absolute;top:3px;width:67px}.time-select .time-select__item:after{background-image:url(../images/bg-time.png);background-repeat:no-repeat;background-size:76px 34px;content:"";height:34px;left:-2px;position:absolute;top:0;width:79px;z-index:-1}.time-select .time-select__item_5{background-color:#55c8ff;cursor:pointer;display:inline-block;font-size:12px;margin:5px 10px 5px 0;padding:8px;position:relative;z-index:10}.time-select .time-select__item_5:hover{background-color:#fe505a}.time-select .time-select__item_5:before{border:1px solid #fff;content:"";height:28px;left:3px;position:absolute;top:3px;width:67px}.time-select .time-select__item_5:after{background-image:url(../images/bg-time-5.png);background-repeat:no-repeat;background-size:76px 34px;content:"";height:34px;left:-2px;position:absolute;top:0;width:79px;z-index:-1}.time-select .time-select__item_6{background-color:#5bdf83;cursor:pointer;display:inline-block;font-size:12px;margin:5px 10px 5px 0;padding:8px;position:relative;z-index:10}.time-select .time-select__item_6:hover{background-color:#fe505a}.time-select .time-select__item_6:before{border:1px solid #fff;content:"";height:28px;left:3px;position:absolute;top:3px;width:67px}.time-select .time-select__item_6:after{background-image:url(../images/bg-time-6.png);background-repeat:no-repeat;background-size:76px 34px;content:"";height:34px;left:-2px;position:absolute;top:0;width:79px;z-index:-1}.time-select .time-select__item_5:hover:after{background-image:url(../images/bg-time-hover.png)}.time-select .time-select__item_5.active{background-color:#fe505a}.time-select .time-select__item_5.active:after{background-image:url(../images/bg-time-hover.png)}.time-select .time-select__item_6:hover:after{background-image:url(../images/bg-time-hover.png)}.time-select .time-select__item_6.active{background-color:#fe505a}.time-select .time-select__item_6.active:after{background-image:url(../images/bg-time-hover.png)}.time-select .time-select__item:hover:after{background-image:url(../images/bg-time-hover.png)}.time-select .time-select__item.active{background-color:#fe505a}.time-select .time-select__item.active:after{background-image:url(../images/bg-time-hover.png)}.time-select .items-wrap{margin-bottom:5px;padding-top:15px}.time-select--wide{margin-bottom:15px;margin-top:-3px}
.time-select--wide .time-select__group:after,.time-select--wide .time-select__group:before{left:23%}
