.Broccoli{
    background-color: #184d47;
    border-radius: 75%;
    transition: 2000ms;
    width: 120px;
    height: 120px;
}
.Broccoli:hover{
    width: 200px;
    height: 200px;
    background-color: silver;
}
#bacon{
    background-color: #204051;
    border-radius: 75%;
    transition: 2000ms;
    width:120px;
    height:120px;
}
#bacon:hover{
    background-color: gold;
    width: 200px;
    height: 200px;
}
#heading{
    color:rebeccapurple;
    font-size: 100px;
}